<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henangengyun.gxrl.mapper.SeasonFeeMapper">
	<resultMap type="com.henangengyun.gxrl.po.SeasonFee" id="SeasonFeeMapper">
		<id column="Id" property="Id"></id>
		<result column="HeatingSeason" property="HeatingSeason" />
		<result column="State" property="State" />
		<result column="LateFeeStartTime" property="LateFeeStartTime" />
		<result column="SeasonOwedFee" property="SeasonOwedFee" />
		<result column="FeeId" property="FeeId" />
	</resultMap>



	<select id="getSeasonFeeByNo" resultMap="SeasonFeeMapper">
		SELECT
		Id,
		HeatingSeason,
		State,
		LateFeeStartTime,
		SeasonOwedFee,
		FeeId
		FROM
		ClientSeasonFeeViews
		WHERE No=#{No}
		ORDER BY HeatingSeason DESC
	</select>
	<select id="getSeasonFeeByNoAndSeason" resultMap="SeasonFeeMapper">
		SELECT
		Id,
		HeatingSeason,
		State,
		LateFeeStartTime,
		SeasonOwedFee,
		FeeId
		FROM
		ClientSeasonFeeViews
		WHERE No=#{No} AND
		HeatingSeason=#{HeatingSeason}
		ORDER BY HeatingSeason DESC
	</select>

	<!-- <select id="getSeasonFeeInfoByNo" resultMap="SeasonFeeInfoMap" parameterType="String"> SELECT HeatingSeason, 
		CommunityName, BuildingName, UnitName, RoomNo, Aera, Price1, Price2, DiscountRatio, StartTime, EndTime, 
		DayValue, SeasonOwedFee, MeterValue, PreFee, ConsumeFee, State FROM ClientSeasonFeeViews WHERE No=#{No} 
		ORDER BY HeatingSeason DESC </select> -->

</mapper>
